{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/user.jpg')}}" alt="user_image">
{% endblock %}

{% block small_heading %}
Hello {{ current_user.name }}!
{% endblock %}

{% block big_heading %}
Hello {{ current_user.name }}!
{% endblock %}

{% block main_section %}

<div class=" user_container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 mx-auto content user-col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.show_user')}}">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.show_user_data')}}">My data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.show_user_reservations')}}">My reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout')}}">Log out</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 mx-auto content user-col-info">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block user_base %}
            Your text
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}