{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/edit.jpg')}}" alt="edit">
{% endblock %}

{% block small_heading %}
Users
{% endblock %}

{% block big_heading %}
Users
{% endblock %}

{% block main_text %}
<div class="row">
    <div class="clearfix">
        <a class="btn btn-secondary float-left"
           href="{{url_for('auth.add_reservation', user_id=request.path.split('/')[-2] | int)}}">Add
            reservation</a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if reservations|length !=0 %}
    <table class="table table-reservations">
        <thead>
        <tr>
            <th scope="col">Car name</th>
            <th scope="col">From date</th>
            <th scope="col">To date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in reservations %}
        <tr>
            <th scope="row">
                <a href="{{ url_for('main.show_car', car_name=item.car_rent.name)}}">{{ item.car_rent.name }}</a>
            </th>
            <td>{{ item.from_date.replace(microsecond=0) }}</td>
            <td>{{ item.to_date.replace(microsecond=0) }}</td>

            <td>
                <form action="{{ url_for('auth.delete_user_reservation')}}" method="POST">
                    <input type="hidden" name="car_id" value="{{ item.cars_id }}">
                    <input type="hidden" name="user_id" value="{{ item.users_id }}">
                    <input type="hidden" name="from_date" value="{{ item.from_date }}">
                    <input type="submit" class="=btn btn-secondary delete-button" value="Delete">
                </form>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="control-label table-reservations-no"> There are no reservations</div>
    {% endif %}
</div>

{% endblock %}