{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/add_reservation.jpg')}}" alt="add_reservation">
{% endblock %}

{% block small_heading %}
Add reservation
{% endblock %}

{% block big_heading %}
Add reservation
{% endblock %}

{% block main_text %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "secondary"}) }}

{% endblock %}