/* Common Styles */
a, a:hover{
color: #5b0505;
}
body{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}
.row{
    margin: 0px
}

/* Title */
.container-fluid{
    padding: 0;
}
.title-row{
    padding: 0;
}

/* Title - Imagines */
.image{
    float: left;
    object-fit: cover;
    width: 100%;
}

/* Title - Text */
.big-heading{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    line-height: 1.8;
    padding: 0;
    text-shadow: 3px 3px 5px black, 0 0 1em #7d5a5a, 0 0 0.4em #7d5a5a;
}
.small-heading{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2.2rem;
    letter-spacing: 0.7rem;
    line-height: 1.4;
    padding: 0;
    text-shadow: 3px 3px 5px black, 0 0 1em #7d5a5a, 0 0 0.4em #7d5a5a;
}

/* Navigation Bar */
.navbar-expand-lg{
    padding: 0 0 0 0;
}
.navbar-light{
    background-color: #f3e1e1;
}
#title .fixed-top{
    padding: 0 0 0 10px;
}

/* Colored Section */
.colored-section{
    background-color: #7d5a5a;
    color: #faf2f2;
}

/* White Section */
.card-img-top{
    height:212px;
    width:318px;
}
.car-column{
    padding-bottom: 30px;
}
.carousel {
    margin: 0 auto;
    width:62%;
}
.carousel-caption{
    bottom: initial;
    top: 60%;
    transform: translateY(-50%);
}
.comment{
    float:left;
    padding: 10px 0 20px 0;
}
.comment-author{
    font-weight: bold;
    text-align: left;
}
.comment-date{
    font-size: 16px;
    text-align: left;
}
.comment-list{
    list-style-type:none;
}
.comment-text{
    text-align: left;
    padding: 10px 0 10px 0;
}
.comments-all{
    font-size:1.5rem;
    text-align: left;
}
.container-advantages{
    padding: 2rem 0 1.3rem;
}
.control-label{
    font-size: 1.3rem;
}
.delete-button{
    border: 1px solid transparent;
    border-radius: .2rem;
    font-size: .875rem;
    line-height: 1.5;
    padding: .25rem .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s
        ease-in-out,box-shadow .15s ease-in-out;
}
.feedback{
    font-size: 1.5rem;
}
.error{
    font-size: 1.4rem;
}
.icon{
    padding: 0 0 30px;
}
.icon:hover {
    color: #900c3f;
}
.img-responsive {
  width:100%;
}
.inside-text-section{
    padding:0 10%;
}
.mail-send{
    color: #7d5a5a;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    padding: 0;
}
.opinion-form{
    padding: 10% 0 0 0;
}
.post-body{
    font-size:1.2rem;
}
.post-preview{
    padding-top: 5px;
    padding-bottom: 10px;
}
.post-title{
    font-size:1.5rem;
}
.posted-post{
    font-size:1.4rem;
}
.posted-time{
    font-size:1.1rem;
}
#replybutton{
    float:left;
}
#replyform {
    padding-left: 30px;
}
table.table-reservations{
    font-size: 0.9rem;
}
table.table-reservations > thead > tr > th{
    border-bottom: 1px solid #1b304508;
    border-top: none;
}
.table-reservations-no{
    font-size: 1rem;
    margin: auto;
    width: 50%;
}
.testimonial-image{
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: 0.5;
}
.testimonial-text{
    color: #5b0505;
    font-size: 1.1rem;
    font-weight: bold;
    left: 45%;
    line-height: 1.5;
    padding: 0 5px 0 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.testimonial-name{
    color: #5b0505;
    font-size: 1rem;
}

.user_container{
    padding-left: 0px;
    margin-left: 0px;
    background-color:#f3e1e1;
}
.user-col{
    background-color:#fef4f4;
    border-left-color:#f3e1e1;
    border-left-width: 0px;
    border-left-style: solid;
}
.user-col-info{
    background-color:#f3e1e1;
    padding: 30px 0 30px 0;
}
.user-li{
    list-style-type:none;
    padding: 10px 0 10px 0;
}

.white-section{
    background-color: #f3e1e1;
    color: #212529;
    padding: 4rem 0 3rem;
}
.whole-card{
    width: 20rem;
}
/* Pagination */

.page-item.active .page-link{
    background-color: #67112d;
    border-color: #67112d;
}
.page-item.disabled .page-link > a{
    color: #dabdbd;
}
.pagination{
    padding: 1.3rem 0 0 0;
}
.pagination > li > a{
    background-color: white;
    color: #7d5a5a;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a{
    color: white;
    background-color: #7d5a5a !Important;
    border: solid 1px #7d5a5a !Important;
}
.pagination > .active > a:hover{
    background-color: #7d5a5a !Important;
    border: solid 1px #7d5a5a;
}
.pagination-nav{
    margin: 0 auto;
}

/* Footer */
#footer{
    padding: 1.7rem 0 0.2rem ;
}
#footer p{
    padding-top: 7px;
}
.social-icon{
    margin: 5px 10px;
}
.social-icon:hover {
    color: #900c3f;
}

/* Different screen size */
@media only screen and (min-width: 600px) {
    .comments-all posted-time{
        font-size:1.8rem;
    }
    .control-label{
        font-size: 1.4rem;
    }
    .feedback{
        font-size: 1.8rem;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .mail-send{
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
        line-height: 1.5;
    }
    .post-body{
        font-size:18.rem;
    }
    .post-preview{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .post-title{
        font-size:2rem;
    }
    .posted-post{
        font-size:1.8rem;
    }
    .posted-time{
        font-size:1.2rem;
    }
    .small-heading{
        font-size: 2.8rem;
        letter-spacing: 0.5rem;
    }
    table.table-reservations table-reservations-no{
        font-size: 1.2rem;
    }
     .testimonial-name{
        font-size: 1.4rem;
    }
    .testimonial-text{
        font-size: 2.5rem;
       }
    .user-col{
        border-left-width: 50px;
        padding: 30px 0 30px 0;
        border-left: 0;
    }
}
@media only screen and (min-width: 750px) {
    .mail-send{
        font-size: 2.6rem;
        letter-spacing: 0.3rem;
        line-height: 1.6;
    }
    .small-heading{
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
    .user-col-info{
        padding: 70px 0 30px 0 !Important;
    }
}