/* Common Styles */
body{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}
.row{
    margin: 0px
}

/* Title */
.container-fluid{
    padding: 0;
}
.title-row{
    padding: 0;
}

/* Title - Imagines */
.image{
    float: left;
    object-fit: cover;
    width: 100%;
}

/* Title - Text */
.big-heading{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    line-height: 1.8;
    padding: 0;
    text-shadow: 3px 3px 5px black, 0 0 1em #7d5a5a, 0 0 0.4em #7d5a5a;
}
.small-heading{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2.2rem;
    letter-spacing: 0.7rem;
    line-height: 1.4;
    padding: 0;
    text-shadow: 3px 3px 5px black, 0 0 1em #7d5a5a, 0 0 0.4em #7d5a5a;
}

/* Navigation Bar */
.navbar-expand-lg{
    padding: 0 0 0 0;
}
.navbar-light{
    background-color: #f3e1e1;
}
#title .fixed-top{
    padding: 0 0 0 10px;
}

/* Colored Section */
.colored-section{
    background-color: #7d5a5a;
    color: #faf2f2;
}

/* White Section */
.carousel {
    margin: 0 auto;
    width:62%;
}
.carousel-caption{
    bottom: initial;
    top: 60%;
    transform: translateY(-50%);
}
.container-advantages{
    padding: 2rem 0 1.3rem;
}
.control-label, .feedback{
    font-size: 1.5rem;
}
.icon{
    padding: 0 0 30px;
}
.icon:hover {
    color: #900c3f;
}
.img-responsive {
  width:100%;
}
.inside-text-section{
    padding:0 10%;
}
.mail-send{
    color: #7d5a5a;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    padding: 0;
}
.opinion-form{
    padding: 10% 0 0 0;
}
.testimonial-image{
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: 0.5;
}
.testimonial-text{
    color: #5b0505;
    font-size: 1.1rem;
    font-weight: bold;
    left: 45%;
    line-height: 1.5;
    padding: 0 5px 0 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.testimonial-name{
    color: #5b0505;
    font-size: 1rem;
}

.white-section{
    background-color: #f3e1e1;
    color: #212529;
    padding: 4rem 0 3rem;
}

/* Footer */
#footer{
    padding: 1.7rem 0 0.2rem ;
}
#footer p{
    padding-top: 7px;
}
.social-icon{
    margin: 5px 10px;
}
.social-icon:hover {
    color: #900c3f;
}

/* Different screen size */
@media only screen and (min-width: 600px) {
    .control-label{
        font-size: 1.8rem;
    }
    .feedback{
        font-size: 1.8rem;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .mail-send{
        font-size: 2.4rem;
        letter-spacing: 0.2rem;
        line-height: 1.5;
    }
    .small-heading{
        font-size: 2.8rem;
        letter-spacing: 0.5rem;
    }
     .testimonial-name{
        font-size: 1.4rem;
    }
    .testimonial-text{
        font-size: 2.5rem;
       }
}
@media only screen and (min-width: 750px) {
    .mail-send{
        font-size: 2.6rem;
        letter-spacing: 0.3rem;
        line-height: 1.6;
    }
    .small-heading{
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
}
