{% include "header.html" %}

<!--Title-->

<div class="row">
    <div class="col-lg-6 title-row">
        <img class="image" src="https://live.staticflickr.com/6137/5985417993_c033e8ca62_b.jpg"
             alt="Wedding Car">
    </div>
    <div class="col-lg-6 title-row">
        <h1 class="big-heading">Your<br>Perfect Wedding <br>Getaway Car</h1>
    </div>
</div>

</div>
</section>


<section class="white-section inside-text-section">
    <div class="container-advantages">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fas fa-shoe-prints fa-4x"></i>
                <h3 class="feature-title">Easy to use</h3>
                <p>Only three steps.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon fas fa-car-alt fa-4x"></i>
                <h3 class="feature-title">Big choise</h3>
                <p>We are the largest <br>wedding car rental company in country.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icon far fa-clock fa-4x"></i>
                <h3 class="feature-title">Always available</h3>
                <p>We ensure 24/7 <br>telephone assistance.</p>
            </div>
        </div>


    </div>
</section>

{% include "footer.html" %}