{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!--Title-->

<div class="row">
    <div class="col-lg-6 title-row">
        {% block imagine %}
            Load imagine....
        {% endblock %}
        <div class="carousel-caption d-lg-none">
            <h1 class="small-heading"> {% block small_heading %} Small heading text.... {% endblock %}</h1>
        </div>
    </div>
    <div class="col-lg-6 title-row align-self-center d-none d-lg-block">
        <h1 class="big-heading">{% block big_heading %} Big heading text.... {% endblock %} </h1>
    </div>
</div>

</div>
</section>
<!--Main section-->
{% block main_section %}
<section class="white-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto content">
                {% block main_text %} Put here main text... {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% include "footer.html" %}