{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/'+car.image)}}" alt="car_imagine">
{% endblock %}

{% block small_heading %}
{{car.name}}
{% endblock %}

{% block big_heading %}
{{car.name}}
{% endblock %}
{% block main_section %}

<section class="white-section">
    <!--Edit car-->
    {% if current_user.can(Permission.WRITE) %}
    <div class="clearfix">
        <a class="btn btn-secondary float-left" href="{{url_for('main.edit_car', car_name=car.name)}}">Edit data</a>
        <a class="btn btn-secondary float-left" href="{{url_for('main.change_car_photo', car_name=car.name)}}">Change
            photo</a>
    </div>

    {% endif %}
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto content">

                <p class="control-label">Model: {{car.model}}</p>
                <p class="control-label">Year: {{car.year}}</p>
                <p class="control-label">Price: {{car.price}}$</p>
                {% if not current_user.is_authenticated %}
                <p class="control-label">Please, log in to see the calendar.</p>
                {% endif %}
                {% if current_user.is_authenticated %}
                <form action="" method="POST">
                    {% if 'csrf_token' in form %}
                    {{ form.csrf_token }}
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-md-12 control-label">
                            Choose date and time:
                        </div>
                        <div class="form-group col-md-6">
                            Start date: {{ form.start_date( class='datepicker') }}
                            <span class="error">
                                {% if form.start_date.errors %}
                                    {% for error in form.start_date.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            Start time: {{ form.start_time(class='timepicker') }}
                            <span class="error">
                                {% if form.start_time.errors %}
                                    {% for error in form.start_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            End date: {{ form.end_date(class='datepicker') }}
                            <span class="error">
                                {% if form.end_date.errors %}
                                    {% for error in form.end_date.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            End time: {{ form.end_time(class='dtimepicker') }}
                            <span class="error">
                                {% if form.end_time.errors %}
                                    {% for error in form.end_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>

                </form>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}