{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/model.jpg')}}" alt="news_image">
{% endblock %}

{% block small_heading %}
Car models
{% endblock %}

{% block big_heading %}
Car models
{% endblock %}

{% block main_section %}

<section class="white-section">
      <!-- New Car -->
        {% if current_user.can(permission) %}
        <div class="clearfix">
          <a class="btn btn-secondary float-left" href="{{url_for('main.add_model')}}">Add New Car</a>
        </div>
        {% endif %}
    <div class="car-container">

        <div class="row">

            <!-- Show Cars -->
        {% if car_number!= 0: %}
            {% for car in all_cars %}
            <div class="car-column col-lg-4 col-md-6">
                <div class="card mx-auto" style="width: 20rem;">
                    <img src="{{url_for('static', filename='img/'+car.image)}}" class="card-img-top" alt="car1">
                    <div class="card-body">
                        <a href="{{url_for('main.show_car',car_name=car.name)}}"><p class="card-text">{{car.name}} </p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>

</section>
{% endblock %}
