{% extends "base.html" %}
{% block imagine %}
    <img class="image" src="{{ url_for('static', filename='img/phone.jpg')}}" alt="phone">
{% endblock %}

{% block small_heading %}
    Have any questions?
{% endblock %}

{% block big_heading %}
    Have any questions?
{% endblock %}

{% block main_text %}
    {% if success %}
        <p class="mail-send">Thank's for your e-mail.</p>
    {% else: %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
    {% endif %}
{% endblock %}
