{% include "header.html" %}

<!--Title-->

<div class="row">
    <div class="col-lg-6 title-row">
        <img class="contact_img image" src="{{ url_for('static', filename='img/phone.jpg')}}" alt="phone">
    </div>
    <div class="col-lg-6 title-row">
        <h1 class="big-heading">Have any questions?</h1>
    </div>
</div>

</div>
</section>


<section class="white-section inside-text-section">
    <form class="contact-form">
        <div class="form-group">
            <input type="text" class="form-control" id="FormInputName" placeholder="Your name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="FormInputEmail" placeholder="Your email: name@example.com">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" id="FormInputTel" placeholder="Your telephone">
        </div>
        <div class="form-group">
            <textarea rows="6" class="form-control" placeholder="Please enter a message"
                      id="FormInputMessage"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" id="SubmitMessage">Send</button>
    </form>
</section>

{% include "footer.html" %}