{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/news.jpg')}}" alt="news_image">
{% endblock %}

{% block small_heading %}
News
{% endblock %}

{% block big_heading %}
News
{% endblock %}

{% block main_text %}
<!-- New Post -->
{% if current_user.can(Permission.WRITE) %}
<div class="clearfix">
    <a class="btn btn-secondary float-left" href="{{url_for('main.add_new_post')}}">Create New Post</a>
</div>
{% endif %}
<!-- Show Posts -->
{% if all_posts|length  > 0 %}
    {% for post in all_posts %}
    <div class="post-preview">
        <a href="{{url_for('main.show_post',post_id=post.id)}}">
            <h2 class="post-title">
                {{post.title}}
            </h2>
        </a>
        <p class="post-body">Posted by
            {{post.author.name}}
            on {{post.date}}
        </p>
    </div>
    {% endfor %}
{% else %}
    There is no news.
{% endif %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.show_news') }}
</div>
{% endif %}
{% endblock %}