{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/'+post.img_url)}}" alt="post_image">
{% endblock %}
{% block small_heading %} {{post.title}} {% endblock %}
{% block big_heading %} {{post.title}} {% endblock %}
{% block main_text %}
<p class="posted-time">Posted on {{post.date}} by {{post.author.name}} </p>
<br> <br>
<p class="posted-post">{{post.body|safe}}</p>
<br><br>
<!--Show comments-->
<p class="comments-all">Comments:</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<hr>
{{ wtf.quick_form(form, novalidate=True, button_map={"submit_comment": "secondary"}) }}
<div class="col-lg-8 col-md-10">

    <ul>
        {% for item in comments recursive %}

        <li class="comment-list">
            <div class="comment col-12">
                <div class="main-comment">
                    <div class="comment-author">
                        {{item.author_name}} {{item.author_surname}}
                    </div>
                    <div class="comment-date">
                        {{(item.date|string)[:19]}}
                    </div>
                    <div class="comment-text">
                        {{ item.text }}
                    </div>
                </div>
                {% if item.child %}
                <ul class="comment-list">{{ loop(item.child) }}</ul>
                {% else %}

                <div class="reply">
                    <button id="replybutton" onclick="replybutton(this)" type="button" class="btn btn-secondary btn-sm">
                        Reply
                    </button>
                    <div id="replyform" style="display:none">
                        <form action="" method="POST">
                            {{ form_comment.csrf_token() }}
                            {{ form_comment.text }}
                            {{ form_comment.parentID(value=item.id) }}
                            <a href=" {{ url_for('main.show_post', post_id=post.id) }}">
                                <button type="submit" class="btn btn-secondary btn-sm">Reply
                                </button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}