{% extends "base.html" %}
{% block imagine %}
<img class="image" src="{{url_for('static', filename='img/'+post.img_url)}}" alt="post_image">
{% endblock %}
{% block small_heading %} {{post.title}} {% endblock %}
{% block big_heading %} {{post.title}} {% endblock %}
{% block main_text %}
<h3>Posted on {{post.date}} by {{post.author.name}} </h3>
<br> <br>{{post.body|safe}}
<br><br>
<!--Show comments-->
<h3 class="commentsAll">Comments:</h3>
<hr>
{% if not add_comment %}
{{ wtf.quick_form(form, novalidate=True, button_map={"submit_comment": "secondary"}) }}
{% endif %}
<div class="col-lg-8 col-md-10">

    <ul>
        {% for item in comments recursive %}

        <li class="commentList">
            <div class="comment">
                <div class="main-comment">
                    <div class="commentAuthor">
                        {{item.author_name}} {{item.author_surname}}
                    </div>
                    <div class="commentDate">
                        {{(item.date|string)[:19]}}
                    </div>
                    <div class="commentText">
                        {{ item.text }}
                    </div>
                </div>
                {% if item.child %}
                <ul class="commentList">{{ loop(item.child) }}</ul>
                {% else %}

                <div class="reply">
                    <button id="replybutton" onclick="replybutton(this)" type="button" class="btn btn-secondary btn-sm">
                        Reply
                    </button>
                    <div id="replyform" style="display:none">
                        <form action="" method="POST">
                            {{ form_comment.csrf_token() }}
                            {{ form_comment.text }}
                            {{ form_comment.parentID(value=item.id) }}
                            <button type="submit" class="btn btn-secondary btn-sm">Reply
                            </button>

                        </form>
                    </div>

                </div>
            </div>
            {% endif %}
        </li>

        {% endfor %}

    </ul>

</div>

{% endblock %}
